@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.section,
.special {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem 3rem;
}

.section {
  min-height: 100vh;
  width: 100%;
  color: white;
}

.special {
  min-height: 100vh;
  z-index: 1000;
}

.special h1 {
  color: white;
  font-size: 2rem;
  border: 2px solid;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  padding: 1rem 2rem;
}

[data-parallax] {
  will-change: transform;
}

.image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}
.image.abs {
  position: absolute;
}

@media screen and (max-width: 1360px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 1071px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 526px) {
  html {
    font-size: 65%;
  }
}
